body {
  background-color: #DCDCDC	;
}
.profile-img {
  width:100%;
  height:400px;
  padding: 2px;
  position: relative;
}
#title {
  background-color: #fff;
  margin: 16px 0 10px 10px;
}
.title-div {
  padding: 10px 20px 45px 20px;
}
h2,h4,h5,h6,p {
  color: grey;
}
.icon1 {
  padding-right: 5px;
  color: red;
}
.icon2 {
  color:#fff;
  padding: 10px;
}
.pro1 {
  background-color: red;
  border-radius: 25px;
}
.heading {
  color: #fff;
  top:30%;
  position: absolute;
}
.heading2 {
  padding-top: 15px;
  padding-bottom: 10px;
}
.pad1 {
  padding-bottom: 10px;
}
.progress{
  border-radius: 25px;
}
#experience{
  margin:16px 30px 16px 10px;
  padding: 25px;
  background-color: #fff;
}
.heading3 {
  padding-bottom: 28px;
}
.head3-style {
  padding-left: 10px;
  color: red;
}
.head4-style {
    padding-left: 10px;
}
h5 {
  padding-bottom: 10px;
}
#education {
  margin:16px 30px 10px 10px;
  padding: 25px;
  background-color: #fff;
}
.cur {
  background-color: red;
  color:#fff;
  padding: 4px 8px;
  border-radius: 5px;
}
.pad2 {
  padding-bottom: 5px;
}
#footer {
  background-color: red;
  text-align: center;
  padding: 20px 30px 26px 30px;
}
.col {
  color: #fff;
}
.col2 {
  color: #fff;
  padding-top: 30px;
  font-size: 13px;
}
@media only screen and (max-width: 600px) {
 .cen0 {
   margin: 0 30px;
 }
 .cen {
     margin:0 0 0 39px;
     padding-bottom: 5px;
 }
